*{
  margin: 0px;
  padding: 0px;
  font-family: cursive;
}
header{
  background-color: #1f2937;
  padding: 15px 2rem;
}
header h1{
  color: white;
  font-weight: bolder;
  text-transform: uppercase;
}
.nav{
  display: flex;
  justify-content: end;
  gap: 20px;
}
.navList{
  color: white;
  text-decoration: none;
  font-size: 16px;
  /* border: 2px solid black; */
  border-radius: 10px;
  background-color: #2a5ea6;
  padding: 5px 0.75rem;
}
.navList:hover{
  opacity: 0.5;
  background-color: #457dcc;
}
#filters{
  display: flex;
  justify-content: space-evenly;
  margin: 2rem;
  font-size: larger;
}
#filters h2{
  text-transform: capitalize;
}
#gender_select, #search{
  font-size: 15px;
  padding: 5px;
  margin: 2px 2rem;
}
#productDisplay{
  display: flex;
  flex-wrap: wrap;
  width: 85%;
  gap: 5px;
}
.productCard{
  display: flex;
  flex-direction: column;
  width: 250px;
  /* height: 290px; */
  border: 2px solid black;
  border-radius: 10px;
  justify-content: space-between;
  margin: 50px;
  padding: 15px;
  background-color: antiquewhite;
  line-height: 2;
  box-shadow: 0px 10px 15px 0px #575b5f;
}
.productCard img{
  width: 100%;
  height: 60%;
  object-fit: cover;
}
#pro{
  display: flex;
}
main{
  margin: 4rem;
}
#clearBtn{
  text-decoration: none;
  color: white;
  padding: 4px 8px;
  border-radius: 10%;
  background-color: rgb(53, 50, 50);
}
.clearBtn :hover{
  background-color: #575b5f;
  opacity: 0.8;
  cursor: pointer;
}
#products{
  display: flex;
  flex-direction: column;
  margin: 10px;
}
#rate{
  width: 150px;
  height: 20px;
}
#clearBtn{
  width: 100px;
}
label{
  line-height: 2rem;
}
#products h2{
  margin: 2rem 0px;
}